# Exemple Best Selling cars

### Sites

##### Europe by year

https://www.best-selling-cars.com/europe/2022-full-year-europe-best-selling-car-manufacturers-and-brands/

##### USA 2018-2022
https://www.best-selling-cars.com/usa-car-sales-by-brand/
##### Germany 2017-2022
https://www.best-selling-cars.com/germany/2022-full-year-germany-best-selling-car-models/


##### Green cars europe sales by country 2022

https://www.best-selling-cars.com/europe/2022-full-year-europe-battery-electric-and-plug-in-hybrid-car-sales-by-country/

##### Japan: Best-Selling Car 2022
https://www.best-selling-cars.com/japan/2022-full-year-japan-best-selling-car-models/


##### Sales fuel types europe
https://www.acea.auto/figure/fuel-types-of-new-passenger-cars-in-eu/

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
##User-Agent contourne le problÃ¨me d'erreur 403
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36',
}

In [3]:
url = 'https://www.best-selling-cars.com/electric/2022-full-year-germany-best-selling-electric-cars-by-brand-and-model/'
response = requests.get(url, headers=headers)

print(response.status_code) #200 c'est bon
#transforme HTML dans une structure de donnÃ©es Python
soup = BeautifulSoup(response.text, 'html.parser')  
#soup

200

In [4]:
#selectionner la figure qui comprend le tableau
figures = soup.find_all('figure', class_='wp-block-table')
type(figures)

bs4.element.ResultSet

In [5]:
#trouve tous les tableaux
table = soup.find_all('table')
soup.get_text()

'\n\n\n2022 (Full Year) Germany: Best-Selling Electric Cars by Brand and Model - Car Sales Statistics\n\nSkip to content\nMenuHomeGlobalEuropeUSAGermanyBrandsOthersJapanBritain / UKFranceChinaGreeceSwitzerlandClassic Car Auctions202320222021-2007202120202019201820172016201520142013201220112010200920082007Search ðŸ”ŽCar Sales Statistics2022 (Full Year) Germany: Best-Selling Electric Cars by Brand and ModelJanuary 8, 2024January 7, 2023 by Henk BekkerIn full-year 2022, Tesla was the best-selling electric car brand in Germany with the Model Y and 3 being the favorite battery-electric cars.Â© Tesla Inc2022 (January to December): Tesla was Germanyâ€™s best-selling electric car brand followed by Volkswagen and Hyundai. New battery-electric vehicle registrations in Germany increased by a third to a record 470,559 cars for an 18% share of the total German new car market in 2022. The top-selling electric car models were the Tesla Model Y, Tesla Model 3, and Fiat 500.In 2022 (full year), the\xa0German new car market\xa0grew by 1.1% to 2,651,357 new passenger vehicle registrations, Volkswagen remained the\xa0best-selling brand, the VW Golf the\xa0top-selling car model, and the Tesla Model Y the favorite battery-electric car.German Car Sales Statistics â€” 2022: Market Overview, Brands, Models, Electric; 2021: Market, Brands, Models, Electric; 2020: Market, Brands, Models, Electric; 2019: Market, Brands, Models, ElectricNew Electric Car Sales in Germany in 2022 (Full Year)â€“20222021202020192018Total German Car Market2,651,3572,622,1322,917,6783,607,2583,435,778All Electric Cars Sold470,559355,961194,16363,28136,062% Share Electric Cars17.7%13.6%6.65%1.75%1.05%New electric passenger vehicle registrations in Germany in 2022 increased by 32% to 470,559 battery electric cars. Although that led to a new record 17.7% market share of the total German new car market, the growth in electric car sales was much slower than in recent years. (The total German new car market expanded by only 1.1% in 2022.) Component shortages and other supply-chain problems led to a shortage in cars â€” both electric and conventional â€” for all manufacturers. Waiting lists for new cars are several months long with many popular car models not available for well over a year.There was a sudden boom in electric (and PHEV) registrations in Germany in the final months of the year, as government incentives are changing from January 2023. PHEV will no longer receive any direct subsidies and battery-electric car subsidies are smaller and more restrictive. Given the long waiting lists many economists questioned whether any incentives should be paid at all.Although electric car sales in Germany were at an all-time high in 2022, total BEV sales were still 10,000 units less than the entire number of cars sold by Volkswagen alone.Best-Selling Electric Car Brands in Germany in 2022The 20 best-selling electric car brands in Germany in the full-year 2022 according to the KBA were:Brand20222021202020191TESLA69,96339,71416,69410,7112VOLKSWAGEN63,20672,11046,1938,2013HYUNDAI32,87726,66715,9415,0524FIAT29,91112,516â€“â€“5OPEL29,29718,0106,9631236AUDI28,32214,9378,3563,5787RENAULT27,85832,70931,4779,4318MERCEDES25,18212,2784,4946969BMW23,47016,5358,7009,12710PEUGEOT15,37112,8874,00817411DACIA14,3694,045â€“â€“12SEAT12,5954,6032,149113SKODA12,19416,1274,751114SMART12,19024,01916,0357,64915MINI11,74410,1404,36549616KIA11,4569,5685,9092,04217MG ROEWE8,774â€“â€“â€“18POLESTAR6,9842,6151,015â€“19FORD5,7902,674â€“â€“20VOLVO5,212â€“â€“â€“21PORSCHE4,7895,2283,203672There was quite a shake-up in the rank order of the top-selling electric car brands in Germany in full-year 2022 â€” Peugeot at 10th was the only top-20 brand in the same position as in 2021.In 2022, Tesla was the top-selling electric car brand in Germany for the first time since 2019. Despite Volkswagenâ€™s larger model range, VW failed to maintain its leading position from the previous two years and sold fewer electric cars in Germany in 2022 than in 2021.Hyundai improved on position while Fiat shot up to fourth from 11th. Opel improved one position and Audi three. Renault slipped from third with the Zoe â€” long the top-selling electric car in Germany â€” now firmly falling behind newer models but Renault is likely to gain ground with the new electric Megane. Mercedes entered the top-ten from 12th while BMW slipped two positions.Several early movers were at least temporarily overtaken by newer offerings. Renault sales were lower while Smart is down to 14th while waiting for a new model, which is totally out of sync with the struggling brandâ€™s previous cars. Nissan similarly fell out of the top 20, as did Porsche with lower electric car sales than in 2021.MG Roewe, Polestar, and Volvo are all new brands in the electric top-20 list for Germany.Best-Selling Electric Car Models in Germany in 2022The 20 best-selling electric car models in Germany in the full-year 2022 according to the KBA were:BRANDMODELSALES 20221TESLAMODEL Y35,4262TESLAMODEL 333,8413FIAT50029,6354VWID.4, ID.524,8475VWID.323,2866HYUNDAIKONA17,0297OPELCORSA14,9798DACIASPRING14,3669HYUNDAIIONIQ514,08010VWUP13,23811AUDIE-TRON13,23212OPELMOKKA12,91613SEATBORN12,56414AUDIQ412,40615SKODAENYAQ12,18416MINIMINI11,74417RENAULTZOE10,53518BMWI39,85019SMARTFORTWO9,70020PEUGEOT2089,403The Tesla Model Y was the best-selling electric car model in Germany in 2022 followed by the Model 3. The Fiat 500 was the third most popular electric car model confirming that car buyers are also keen on smaller affordable cars and not only SUVs.The Volkswagen electric SUV duo (ID4 and ID5) was fourth followed by the ID3. The announcement that the ID3 production run was sold out until the third quarter of 2023 when an update will become available confirmed that the capability to deliver cars to buyers is still playing a more important role in the new vehicle registration figures than outright desirability.The Hyundai Kona was sixth followed by the Opel Corsa. The small and relatively cheap Dacia Spring is a new entry while the Hyundai Ioniq5 was the ninth most-popular electric car in Germany in 2022.The VW Up rounded out the top ten with availability (and price increase) limiting registrations.Three electric car models long at or near the top of the best-selling list in Germany but likely to be absent in the future are the Renault Zoe, which is unlikely to be replaced by a direct model, and the BMW i3 and Smart Fortwo that were both taken out of production during 2022.German Car Sales Statistics â€” 2022: Market Overview, Brands, Models, Electric; 2021: Market, Brands, Models, Electric; 2020: Market, Brands, Models, Electric; 2019: Market, Brands, Models, ElectricCategories Electric, Germany Tags 20222022 (Full Year) Germany: Best-Selling Car Models2022 (Full Year) Global: Hyundai Worldwide Car Sales and 2023 ForecastHome Â» Electric Â» 2022 (Full Year) Germany: Best-Selling Electric Cars by Brand and ModelRecent2023 (Full Year) Global: Volvo Worldwide Car Sales by Region and Model2023 (Full Year) Japan: Best-Selling Minicar (Kei) Brands and Models2023 (Full Year) Britain: Best-Selling Car Brands in the UK2023 (Full Year) Britain: Top-Selling Electric Car Models in the UK2023 (Full Year) Britain: Best-Selling Car Models in the UKCar Sales by CountryAsia PacificBrandsBritain UKChinaClassic CarsElectricEuropeFranceGermanyGlobalGreeceHybridInternationalJapanNewsNorwaySwedenSwitzerlandUSAStatistics by Year20232022202120202019201820172016201520142013201220112010200920082007Impressum\xa0Â·\xa0Terms of Use\xa0Â·\xa0Privacy Policy\xa0Â·\xa0Cookie Policy\xa0Â·\xa0Data Protection\xa0Â·\xa0AboutÂ© 2024 Car Sales Statistics â€¢ Built with GeneratePressx\n'

### Choisir le tableau souhaitÃ© (dans le cas de plusieurs tableaux)

In [6]:
#le corps du tableau souhaitÃ©
body= table[2].find_all('tbody')
body

[<tbody><tr><td><td>BRAND<td>MODEL<td><a href="https://www.best-selling-cars.com/electric/2022-full-year-germany-best-selling-electric-cars-by-brand-and-model/">SALES 2022</a><tr><td>1<td>TESLA<td>MODEL Y<td>35,426<tr><td>2<td>TESLA<td>MODEL 3<td>33,841<tr><td>3<td>FIAT<td>500<td>29,635<tr><td>4<td>VW<td>ID.4, ID.5<td>24,847<tr><td>5<td>VW<td>ID.3<td>23,286<tr><td>6<td>HYUNDAI<td>KONA<td>17,029<tr><td>7<td>OPEL<td>CORSA<td>14,979<tr><td>8<td>DACIA<td>SPRING<td>14,366<tr><td>9<td>HYUNDAI<td>IONIQ5<td>14,080<tr><td>10<td>VW<td>UP<td>13,238<tr><td>11<td>AUDI<td>E-TRON<td>13,232<tr><td>12<td>OPEL<td>MOKKA<td>12,916<tr><td>13<td>SEAT<td>BORN<td>12,564<tr><td>14<td>AUDI<td>Q4<td>12,406<tr><td>15<td>SKODA<td>ENYAQ<td>12,184<tr><td>16<td>MINI<td>MINI<td>11,744<tr><td>17<td>RENAULT<td>ZOE<td>10,535<tr><td>18<td>BMW<td>I3<td>9,850<tr><td>19<td>SMART<td>FORTWO<td>9,700<tr><td>20<td>PEUGEOT<td>208<td>9,403</td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></td></td></td></td></tr></tbody>]

In [7]:
#les lignes
for element in body:
    rows = element.find_all('tr')

In [8]:
#compter colonnes du tableau souhaitÃ©
for d in rows:
    colunas = d.find_all('td')
    taille = len(colunas)

In [9]:
l = []

#parcourrir les lignes et les garder dans une liste
for d in rows:
    t=[]
    for i in range(taille-1):
        col_tot = d.findAll('td')[i].renderContents().decode('utf8')
        col = col_tot.split('<td>')[0]
        t.append(col)
    col_fin_tot = d.findAll('td')[i+1].renderContents().decode('utf8')
    col_fin = col_fin_tot.split('<tr>')[0]
    t.append(col_fin)
    l.append(t)
l

[['',
  'BRAND',
  'MODEL',
  '<a href="https://www.best-selling-cars.com/electric/2022-full-year-germany-best-selling-electric-cars-by-brand-and-model/">SALES 2022</a>'],
 ['1', 'TESLA', 'MODEL Y', '35,426'],
 ['2', 'TESLA', 'MODEL 3', '33,841'],
 ['3', 'FIAT', '500', '29,635'],
 ['4', 'VW', 'ID.4, ID.5', '24,847'],
 ['5', 'VW', 'ID.3', '23,286'],
 ['6', 'HYUNDAI', 'KONA', '17,029'],
 ['7', 'OPEL', 'CORSA', '14,979'],
 ['8', 'DACIA', 'SPRING', '14,366'],
 ['9', 'HYUNDAI', 'IONIQ5', '14,080'],
 ['10', 'VW', 'UP', '13,238'],
 ['11', 'AUDI', 'E-TRON', '13,232'],
 ['12', 'OPEL', 'MOKKA', '12,916'],
 ['13', 'SEAT', 'BORN', '12,564'],
 ['14', 'AUDI', 'Q4', '12,406'],
 ['15', 'SKODA', 'ENYAQ', '12,184'],
 ['16', 'MINI', 'MINI', '11,744'],
 ['17', 'RENAULT', 'ZOE', '10,535'],
 ['18', 'BMW', 'I3', '9,850'],
 ['19', 'SMART', 'FORTWO', '9,700'],
 ['20', 'PEUGEOT', '208', '9,403']]

In [10]:
#crÃ©er une liste pour garder l'en-tÃªte
header = []
for item in l[0]:
    soup = BeautifulSoup(item, 'html.parser')
    header.append(soup.get_text())
header

['', 'BRAND', 'MODEL', 'SALES 2022']

In [11]:
#verification 
l[0][2]

'MODEL'

In [12]:
#crÃ©er une liste pour garder le corps du tableau
corps = []
for i in range(len(l)):  
    corps.append([])  
    for j in range(len(l[i])):
        item = l[i][j] 
        soup = BeautifulSoup(item, 'html.parser')
        corps[i].append(soup.get_text())

In [13]:
l1  = corps[1:]

#generer dataframe
df = pd.DataFrame(l1,columns = header)
#df=df = df.drop(df.columns[0], axis=1)
df

          BRAND       MODEL SALES 2022
0    1    TESLA     MODEL Y     35,426
1    2    TESLA     MODEL 3     33,841
2    3     FIAT         500     29,635
3    4       VW  ID.4, ID.5     24,847
4    5       VW        ID.3     23,286
5    6  HYUNDAI        KONA     17,029
6    7     OPEL       CORSA     14,979
7    8    DACIA      SPRING     14,366
8    9  HYUNDAI      IONIQ5     14,080
9   10       VW          UP     13,238
10  11     AUDI      E-TRON     13,232
11  12     OPEL       MOKKA     12,916
12  13     SEAT        BORN     12,564
13  14     AUDI          Q4     12,406
14  15    SKODA       ENYAQ     12,184
15  16     MINI        MINI     11,744
16  17  RENAULT         ZOE     10,535
17  18      BMW          I3      9,850
18  19    SMART      FORTWO      9,700
19  20  PEUGEOT         208      9,403

In [14]:
df2=df

In [16]:
with pd.ExcelWriter("europa_2019-2018.xlsx", engine="openpyxl") as writer:
    df1.to_excel(writer, sheet_name="Sheet_1", index=False)
    df2.to_excel(writer, sheet_name="Sheet_2", index=False)
    #df3.to_excel(writer, sheet_name="Sheet_2", index=False)

# Exemple  Volkswagen table

In [17]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
url = 'https://annualreport2020.volkswagenag.com/divisions/seat.html'
response = requests.get(url)

print(response.status_code) #200 c'est bon
soup = BeautifulSoup(response.text, 'html.parser')
soup

#selectionner le tableau
table = soup.find('table', id = "gebertable16")
print(type(table))

#Recuperer lignes du tableau

for donnees in table.find_all('tbody'):
    rows = donnees.find_all('tr')
print(rows)

rows[2]

#Nom des colonnes
title_cols =[]
for title in table.find_all('thead'):
    title_cols_dirty = title.find_all('p')
    for p in title_cols_dirty:
        title_cols.append(p.get_text(strip=True))

title_cols=title_cols[1:]
print(title_cols)

#Transformer dataframe
l = []

for d in rows:
    units = d.findAll('p')[0].renderContents().decode('utf8')
    annee1 = d.findAll('p')[1].renderContents().decode('utf8')
    annee2 = d.findAll('p')[2].renderContents().decode('utf8')
    #print
    t=(units,annee1,annee2)
    l.append(t)

200
<class 'bs4.element.Tag'>
[<tr class="nohighlight row-1">
<td class="vw-ar20-5 column-1"><p>Â </p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-6 column-2 textAlign-right"><p>Â </p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-5 column-last textAlign-right"><p>Â </p></td>
</tr>, <tr class="row-2">
<th class="vw-ar20-7 column-1 textAlign-left" scope="row"><p>Leon</p></th>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p>124,323</p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p>153,837</p></td>
</tr>, <tr class="row-3">
<th class="vw-ar20-7 column-1 textAlign-left" scope="row"><p>Arona</p></th>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p>78,823</p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p>134,611</p></td>
</tr>, <tr class="row-4">
<th class="vw-ar20-7 column-1 textAlign-left" scope="row"><p>Ateca</p></th>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p>76,710</p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p>98,397</p></td>
</tr>, <tr class="row-5">
<th class="vw-ar20-7 column-1 textAlign-left" scope="row"><p>Ibiza</p></th>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p>74,564</p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p>130,243</p></td>
</tr>, <tr class="row-6">
<th class="vw-ar20-7 column-1 textAlign-left" scope="row"><p>Tarraco</p></th>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p>18,726</p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p>38,721</p></td>
</tr>, <tr class="row-7">
<th class="vw-ar20-7 column-1 textAlign-left" scope="row"><p>Alhambra</p></th>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p>14,672</p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p>23,015</p></td>
</tr>, <tr class="row-8">
<th class="vw-ar20-7 column-1 textAlign-left" scope="row"><p>CUPRA Formentor</p></th>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p>11,041</p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p>â€“</p></td>
</tr>, <tr class="row-9">
<th class="vw-ar20-7 column-1 textAlign-left" scope="row"><p>Mii</p></th>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p>7,593</p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p>11,479</p></td>
</tr>, <tr class="row-10">
<th class="vw-ar20-7 column-1 textAlign-left" scope="row"><p>Toledo</p></th>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p>â€“</p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p>1,506</p></td>
</tr>, <tr class="row-11">
<td class="vw-ar20-7 column-1"><p>Â </p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-2 textAlign-right"><p><strong>406,452</strong></p></td>
<td class="empty inbetween">Â </td>
<td class="vw-ar20-7 column-last textAlign-right"><p><strong>591,809</strong></p></td>
</tr>]
['Units', '2020', '2019']

In [18]:
df = pd.DataFrame(l,columns = title_cols)
df

              Units                      2020                      2019
0                 Â                          Â                          Â
1              Leon                   124,323                   153,837
2             Arona                    78,823                   134,611
3             Ateca                    76,710                    98,397
4             Ibiza                    74,564                   130,243
5           Tarraco                    18,726                    38,721
6          Alhambra                    14,672                    23,015
7   CUPRA Formentor                    11,041                         â€“
8               Mii                     7,593                    11,479
9            Toledo                         â€“                     1,506
10                Â   <strong>406,452</strong>  <strong>591,809</strong>